[2016-10-05 04:34] japaric opened #2 "enable FPU"

[2016-10-05 04:35] japaric opened #3 "timeit module"
[code]

[2016-10-05 04:35] japaric opened #4 "UART/Serial"

[2016-10-05 04:35] japaric opened #5 "default to 72 MHz"

[2016-10-05 04:35] japaric opened #6 "I2C"

[2016-10-05 04:36] japaric opened #7 "SPI"

[2016-10-05 04:36] japaric opened #8 "use interrupt+wfi in `delay::ms`"

[2016-10-05 04:37] japaric opened #9 "ITM/`iprint` send data in 32-bit chunks"
Be careful with alignment.

[2016-10-06 05:27] japaric opened #12 "CI: error if the examples haven't been regenerated"

[2016-10-06 23:35] #2 closed, assigned to nobody

[2016-10-08 04:52] japaric commented on #4
initial support landed in #14

[2016-10-08 04:52] #4 closed, assigned to nobody

[2016-10-08 14:07] #8 closed, assigned to nobody

[2016-10-08 14:43] #12 closed, assigned to nobody

[2016-10-08 14:46] japaric opened #18 "Serial: add `write_bytes`"
to send arbitrary chunks of bytes

[2016-10-08 14:50] japaric opened #19 "LSM303DLHC"
accelerometer + magnetometer

depends on #6

[2016-10-08 14:50] japaric opened #20 "L3GD20"
gyroscope

depends on #7

[2016-10-09 03:39] japaric opened #23 "the led roulette example misbehaves when compiled in release mode (+LTO)"
For example, this variation of the original example:

[code]

when compiled in debug mode, produces the expected result: _all_ the LEDs light on in a circular cycle.

But if the code is compiled in release mode, then only three, the "first" three, LEDs participate in the "circular" cycle.

This is the only example that misbehaves when compiled in release mode. It also happens to be only example th

[2016-10-12 16:17] japaric commented on #23
The problem seems to be the `delay::ms` function. Let's try rolling that function back to use busy polling instead of interrupts.

[2016-10-12 16:17] japaric commented on #7
Done. There is now a low level API via register manipulation.

[2016-10-12 16:17] #7 closed, assigned to nobody

[2016-10-12 16:18] japaric commented on #6
Done. There is now a low level API via register manipulation.

[2016-10-12 16:18] #6 closed, assigned to nobody

[2016-10-12 16:18] japaric commented on #19
Done. There is now a minimal high level API that you can use to read the sensor.

[2016-10-12 16:18] #19 closed, assigned to nobody

[2016-10-12 16:18] japaric commented on #20
Done. There is now a minimal high level API that you can use to read the sensor.

[2016-10-12 16:18] #20 closed, assigned to nobody

[2016-10-12 23:50] japaric commented on #23
fixed in #31 by roll backing the implementation

[2016-10-12 23:50] #23 closed, assigned to nobody

[2016-10-20 07:17] japaric commented on #3
done in #36

[2016-10-20 07:17] #3 closed, assigned to nobody

[2016-10-20 18:10] japaric opened #38 "update documentation about overring init, panic_fmt and default_exception_handler"
cc #37

[2016-10-23 09:24] wezm opened #42 "unsupported relocation on symbol"
Hi Jorge,

First up thanks for all the great embedded rust work you've done. I've been working though the process to create a crate `f0` akin to this one but for Cortex-M0 generated by `svd2rust`. When compiling I get:

[code]

It's triggered by <code>[default_handler_entry_point](https://github.com/japaric/f3/blob/0cf0cf642d95d28dc4561c570c0f2c8f39b3915a/src/exception.rs#L71)</code>, specifically

[2016-10-23 15:08] japaric commented on #42
:heart:

Awesome!

Interesting. Just to confirm, are you using the _built-in_ `thumbv6m-none-eabi` target? Or are you supplying your own target using a `.json` file. If the later, make sure you are setting `relocation-model` to `static`.

The assembly in that function is using the `b` instruction. The Cortex-M4 (F3) and the Cortex-M0 (F0) have different architectures. The Cortex-M4 can jump in the

[2016-10-23 15:10] japaric commented on #42
I expect we'll do a LLVM up (from 3.9 to 4.0) in November. If not, you could request backporting the patch if you confirm that it indeed solves the problem you are seeing.

[2016-10-23 17:56] japaric opened #44 "Async IO"
As a first experiment: `Future::poll` based and interrupt free.

The unresolved question is how to make the microcontroller sleep? I usually use `wfi` when there's nothing to do but that will block forever if no interrupts are being used.

[2016-10-23 18:00] japaric opened #45 "Place the call stack in Core Coupled Memory (CCM)"
Does it improve performance? This probably is only useful if you are using high clock frequency.

[2016-10-23 22:56] wezm commented on #42
I did see a mention that the thumbv6 target was supposed to be built in now but when I ran `rustc --print target-list` I didn't see it so I stuck with a custom one. That one does have relocation-model set to static. I updated my nightly compiler yesterday when I ran into this issue and I note that the thumb targets are now listed.

Using the long branch does seem to fix it (it compiles now). The e

[2016-10-23 22:56] #42 closed, assigned to nobody

[2016-10-23 23:56] japaric commented on #42
Awesome!

Weird. Are the symbols one next to the other when you look at the disassemble (`objdump -Cd`)? Oh, wait I guess there's nothing to disassemble if this hits an LLVM error -- not even a `foo.o` is generated.

Yeah, I guess this needs to be fixed in LLVM proper. Or rather we need to update our LLVM fork.

You are welcome!

[2016-10-28 16:19] japaric commented on #9
Note to self: benchmark this with the `time` module

[2016-10-28 16:21] japaric opened #50 "plug in an allocator"
I've heard reports that [`linked_list_allocator`](https://crates.io/crates/linked_list_allocator) works with this architecture. Let's try that one first.

[2016-10-28 17:23] tekjar opened #51 "Support for naze32 flight controller"
Hi @japaric. I'm pretty new to rust on microcontrollers. A lot of flight controllers seem to be using STM processors. Does this repo target flight controllers like naze32 too (STM32F103CB) ?

https://www.aliexpress.com/item/NAZE32-REV6-MPU6050-32-bit-6-DOF-10-DOF-Flight-Controller-for-Multicopter-RC-Radio-Control/32649546407.html?spm=2114.30010308.3.94.wRiZWs&ws_ab_test=searchweb0_0,searchweb20160

[2016-10-28 20:16] japaric commented on #51
Well, not exactly. This crate targets this particular board: The [STM32F3DISCOVERY](http://www.st.com/en/evaluation-tools/stm32f3discovery.html), which has an `STM32F303VCT6` microcontroller in it.

_But_ that board, the discovery, does have a gyroscope, a magnetometer and an accelerometer (it's just "9-DOF" as it's missing the baremeter to measure the altitude) and I intend to try my hand at sens

[2016-10-29 19:01] japaric commented on #51
@kteza1 I wrote my thoughts on the matter (a flight controller in Rust) [here](https://users.rust-lang.org/t/writing-a-flight-controller-for-drones-in-rust/7340/3?u=japaric).

[2016-10-29 19:19] tekjar commented on #51
@japaric Wow. That's really awesome. It's a big project but there is a first step for everything. I haven't worked on microcontrollers much but I'll check your `copper` book and try to copy a lot of your `f3` crate to create a crate for `naze32` (as this seems to be the most famous one).

[2016-10-29 21:53] japaric commented on #51
Sounds like a great start! Let me know if you need help with anything. I'm on Mozilla's IRC as `japaric`. There's a #rust-embedded channel there that's for this kind of topic.

The copper book needs a small update so if you read it before I get a chance to update it: `rustc` now has built-in targets for ARM Cortex-M processors, like `thumbv7m-none-eabi`; you should use those instead of custom targ

[2016-10-29 21:55] japaric commented on #51
Ah, you probably also want to look into code generators for the "register maps". See [svd2rust](https://crates.io/crates/svd2rust) and [svd-mmap](https://github.com/brandonedens/svd-mmap).

Oh, and if you are just getting started with microcontrollers, [this](https://japaric.github.io/rbr2016/) may be of help. It's the workshop material I presented at Rust Belt Rust.

[2016-10-29 21:56] japaric commented on #51
And I'm going to close this issue since this is not actionable in _this_ repo.

[2016-10-29 21:56] #51 closed, assigned to nobody

[2016-10-29 23:00] tekjar commented on #51
Sure. Thanks :)

[2016-10-30 00:02] japaric opened #53 "split memory map into its own crate"
That should improve recompilation times of this crate (both as a lib and its examples).

And if we get some easy way to build dependencies in release mode while the top crate is still compiled in debug mode, that should improve a lot run time of examples compiled in debug mode.

[2016-10-30 01:26] japaric opened #54 "opt-out Cargo feature to not initialize .bss / .data"
Some applications don't use these sections. They should be able to opt-out of the initialization code that zeroes .bss and initializes .data.

When this Cargo feature is disabled, use of `static mut` variables, or rather anything that goes in these sections, should be forbidden via linker script magic.

[2016-10-30 01:28] japaric opened #55 "opt-out Cargo feature to disable interrupts"
Some applications make no use of interrupts. These should be able to remove the part of the vector table that holds the interrupt handlers.

When this Cargo feature is disabled there should be no way to declare an interrupt handler.

[2016-10-30 05:42] #54 closed, assigned to nobody

[2016-10-30 05:42] #55 closed, assigned to nobody

[2016-11-02 08:41] pftbest opened #59 "remove aliased mutable borrows"
I have this crazy idea and maybe you can tell me if I'm mistaken. My point is: why do we need to have mutable reference to volatile register to modify it? As we are talking about hardware registers as the name of the crate implies, the value behind it should only be accessed via volatile operations, so from the end user perspective there is no difference if the value was changed by the hardware or

[2016-11-02 14:06] japaric commented on #59
You are not crazy. Zinc did this (R/W registers modifiable via a `&-` reference).

I'm afraid that I can't because I'm not 100% sure myself.

Indeed! The hardware can change the value of a register that you are looking at via a `&-` reference at any time. That's what makes these `while !peripheral.status_register.read().some_bit() {}` lines so bizarre.

---

So my problem with making everything mo

[2016-11-02 15:01] pftbest commented on #59
I'm OK with marking `read()` and `write()` as unsafe in volatile register, I am not OK with having this `nvic()` and `nvic_mut()` methods that look a bit ugly.

[2016-11-02 15:10] japaric commented on #59
What would be the alternative? a `static mut NVIC`? I don't like `static` variables because you can't do `static mut NVIC: Nvic = unsafe { mem::transmute(0xdeadbeef) };`. Instead, you have to declare those addresses in linker scripts. And integration between Cargo and linker scripts is poor.

[2016-11-02 15:18] pftbest commented on #59
No I'm not talking about static, I am thinking about single `nvic()` method that would give &- reference that would allow unsafe writes to its registers.

[2016-11-02 17:06] pftbest commented on #59
So my proposal is:
- Mark `read` `write` `modify` methods in `volatile_register` as unsafe.
- Allow `write` and `modify` on immutable reference
- Remove all `_mut()` functions.

The reason I don't like `&mut` because it implies some kind of ownership, but we should have none.
For example nothing will prevent me from writing this code:

[code]

[2016-11-02 20:25] japaric commented on #59
I'm not 100% convinced. It seems to me that this would result in even more `unsafe` blocks.

But that's the point! Then you can write:

[code]

And it's easy to find where I may be aliasing the register. (`grep "unsafe.*_mut("`).

Whereas with this:

[code]

NOTE: `arr` can't be modified by the hardware

Then it's not clear which `tim7` may be the source of aliasing.

Actually, privacy prevents yo

[2016-11-02 22:04] pftbest commented on #59
[code]

Well, the reads will never be racy because MMIO is not cached. So the only dangerous thing is read-modify-write aliased by another write. (Unless your register changes state on read operation, but in this case the current implementation is also unsafe). So you can grep on `arr.write(` to find all your race conditions.

Well, maybe having `unsafe` on `read` is a bit too much.
Also having `u

[2016-11-03 19:38] pftbest commented on #59
I was thinking a little about this example

[code]

and I'm not sure if it is even possible to prevent this kind of bugs in compile time. Certainly not on the register level.
At run time we can try to implement some reference counters (like RwLock) for `nvic()` and `nvic_mut()` but this would not work either because sometimes it is necessary to concurrently write to the different registers of the

[2016-11-04 20:01] jcsoo commented on #9
Have you noticed any problems losing output when sending data quickly? I'm running the same code on the F4 and sometimes lose characters.

I have a feeling that it may be dropping it on the ST-Link side, unfortunately.

[2016-11-04 22:20] japaric commented on #9
Not yet but I haven't tried high throughput either.

I wouldn't expect it to lose data though. The `iprintln` has a busy wait loop in it to prevent queuing more data if the bus is already busy. I'd expect that to "throttle" the data rate.

FWIW, the ST-LINK is an STM32F1 device and I doubt it's clocked at a high frequency.

[2016-11-08 03:07] japaric commented on #59
It's certainly possible, at least in theory ... So, first you make `SerialPort: !Sync` that makes it impossible to put `SerialPort` in a `static` variable. Then you create a `Mutex<T>: Sync` that "locks the processor" by temporarily disabling the interrupts. Then you can write:

[code]

With this program you always get a deterministic output:

[code]

Not that this program makes much sense but it

[2016-11-11 16:04] japaric opened #62 "review ABI of "extern" functions"
Interrupts and Exceptions must use the C ABI (or the AAPCS one? I think there's no difference between the two when the function takes no arguments).

Everything else can be `extern "Rust"`. I think there's no advantage for using `extern "Rust"` right now but at least we should be able to change all those `pub extern "C" fn main() -> !` to just `pub fn main() -> !`.

[2016-11-11 17:07] #62 closed, assigned to nobody

[2016-11-14 18:08] #53 closed, assigned to nobody

[2016-11-21 00:02] japaric commented on #45
Done in #49

[2016-11-21 00:03] japaric commented on #45
My bad, this wil land in #70

[2016-11-23 17:43] japaric commented on #45
Done in #70.

[2016-11-23 17:43] #45 closed, assigned to nobody

[2016-11-23 18:44] japaric commented on #50
Done in #70

[2016-11-23 18:44] #50 closed, assigned to nobody

[2016-11-23 18:45] japaric commented on #38
Done before the 0.3.0 release

[2016-11-23 18:45] #38 closed, assigned to nobody

[2016-12-06 21:23] thejpster commented on #42
I've fallen over the same issue, working on support for the Freescale Kinetis KE06Z.

[2016-12-07 04:11] japaric commented on #42
Hahaha ha ... (me being naive)

---

@thejpster Could you open an issue in the rust-lang/rust repo with a small repro file. Seems like the patch @wezm linked shouldn't be too hard to backport. Then I can take it from there.

[2016-12-07 07:00] thejpster commented on #42
I'll take a look later.

For now, I just replaced my b with a bl in my hardfault handler code and it's OK.

[2016-12-14 00:01] TrionProg opened #71 "My board uses STlinkV2, not 2-1"
Hello. Great thanks to you, japaric.  Finally I can forget horrible C and  write hight-level code with my favorite programming language. Finally there is direct and safe way how to use this fantastic MCU. Finally I can use one language for all my projects and platforms! Your Discovery book is pretty good, so  detailed and  neat as I prefer. You've done great work.

But where are some problems with

[2016-12-14 19:57] japaric commented on #71
Hello @TrionProg. Thanks for the kind words and for the feedback!

This should have been filled in [the Discovery book issue tracker](https://github.com/japaric/discovery/issues) then ;-).

The pg crate depends on the f3 crate and its job is to limit the functionality/API that f3 exposes. (I feel that incrementally providing more API avoids overloading the reader with too much info). Because of th

[2016-12-15 21:27] TrionProg commented on #71
Ok. This is good idea. For example, f3 init function should not enable all peripheral. I think,  there should be 3 levels of abstraction(newbie, hight-level library, low-level (registers)).

Please add add this links to RTRM chapter. Because I am no full newbie, I have had st-util and other soft installed, so I have missed first chapters =) Next, you give link to discovery manual and later 263 pag

[2016-12-16 04:46] japaric commented on #71
You can override the default init function by disabling the "default-init" Cargo feature and providing your own init function. [Example](https://docs.rs/f3/0.3.0/f3/examples/override_init/index.html).

The registers can be accessed regardless of where the "default-init" feature is enabled or not.

Will do.

Originally, I have been exposing peripherals in an incremental fashion to keep compilation

[2017-01-23 09:25] getreu commented on #44
I have seen with interest your `aio-concurrent.rs` example in your aio branch. You have not followed this branch. I guess you are not satisfied with this approach. Why?

BTW, an event loop with [tokio-core](https://tokio.rs/docs/getting-started/reactor/) looks like this.

[code]

Is it possible to do something similar?

Or, can you use `tokio` or `tokio-core` on these devices? When would it make s

[2017-02-09 18:41] klangner opened #75 "main function not linked to the binary"
Hello. I'm new to this low level stuff and Rust, but thanks to your very good book Discovery, I hope to learn it.

I try to follow this book, and everything was ok until I tried to set the break point on function main() (Chapter 5).
My problem is that the gdb says that there is no main() function in my code. And obj-dump confirms that there is no such function.
I guess that since there is no refer

[2017-02-09 19:35] japaric commented on #75
Your `main` has to be unmangled:

[code]

or the linker will drop it. This is because the entry point, `_reset`, calls the `main` symbol. You should get a linker error if `main` doesn't have the `no_mangle` attribute though.

That being said, there's a bug where `main` doesn't make it to the final binary but you don't get a linker error. But that only happens with a certain type of `main`, when LT

[2017-02-09 20:25] klangner commented on #75
My main.rs is taken from the book:

[code]
And I compile debug version.
Maybe something changed in the newest Rust version?

My whole project is at:
https://github.com/klangner/stm32f3discovery

But now I understand how main is called. So no need for ENTRY in *.ld file.

[2017-02-09 20:35] klangner commented on #75
Also this is how the _reset function looks like:

[code]

[code]

Looks like _init was inlined, but there is no call to main (If I understand it correctly)

[2017-02-10 04:21] japaric commented on #75
That *does* look like rust-lang/rust#39253 but I can't repro

[code]

With

[code]

[2017-02-10 20:44] klangner commented on #75
I'm not sure if it is related to this issue. I would rather guess that the problem is with the **core** library.

I can make the program running by putting all the code into init() function.
And this works:
[code]
But if I add this declaration:
[code]
Then it doesn't (It is necessary to use iter(). The debugger doesn't event start in _init() function.

Maybe the problem is with arm toolchain?

[co

[2017-02-18 19:29] japaric commented on #75
@klangner are you using a mac? Does the gcc you are using come from the gcc-arm-embedded tap/cask? Someone reported (japaric/discovery#34) that that gcc has some bug like the one you reported here. Could you try the gcc from the px4/px4 tap? (Sorry, I don't have the exact instructions to do that as I don't access to a mac)

[2017-02-19 09:04] klangner commented on #75
No. I'm on Linux (Ubuntu).
Currently I'm following the blog http://hannobraun.de/embedded/ and learning about Rust and embedded development. So far so good. I hope to solve this problem as soon as I learn more about it.

But I will try to upgrade my GCC. It looks like this should help.

[2017-02-27 16:10] japaric commented on #44
@getreu I'm exploring a more "reactive" / "event driven" approach based solely on interrupts but I have nothing to show ATM.

I can't comment on tokio-core as I have not checked it in detail. My understanding is that it doesn't compile on no_std, so there's that.

[2017-02-28 04:06] getreu commented on #44
@japaric thank you for your answer. I am looking forward to learn more from your publications.

[2017-06-18 13:37] Muximize opened #77 "Board support crate naming could be more specific?"
While short and clear names are nice, pretty and usually the way to go, I have the impression that in the case of board support crates it can cause some confusion, and it might be better to name them after the specific board they support: f3 -> stm32f3discovery

For example, while the device crate stm32f30x is clearly meant for a specific family of devices, the board support crate f3 is used for a

[2017-06-18 16:01] Emilgardis commented on #77
I'm currently (very slowly) developing an unpublished f0 crate, and I plan to solve this by using features for when a user needs a specific functionality for a f0 disco/board. Maybe f3 (and f4) could do the same?

[2017-06-23 00:25] japaric commented on #77
Well, in Rust-land you *always* have to read crate description. For instance, what do you think the crates `clap`, `tokio`, `parking-lot` and `pirate` are used for? 😄

Hopefully once the configurabilty problem is solved the f3 crate won't matter anymore. You'll just grab the stm32f103-hal-impl crate and your configuration file (?) which describes the board hardware and its configuration *for your

[2017-06-23 09:33] Muximize commented on #77
Ha yes that's true, but those crates are 'stand-alone' in the sense that they don't have a direct pairing with some other thing that already has a name.

But, if configurabilty is the future, then my point is moot and changing crate names won't be worthwhile for the time left.

[2017-06-23 09:33] #77 closed, assigned to nobody

[2017-07-31 14:26] tekjar opened #79 "No lsm303dlhc module in master"
Hi,

Discovery book examples are using f3 version 0.3.1. How do I access `lsm303dlhc` using master?

[2017-08-01 00:11] japaric commented on #79
You would have to port the code.

[2017-08-02 04:33] japaric commented on #9
Done in cortex-m some time ago.

[2017-08-02 04:33] #9 closed, assigned to nobody

[2017-08-02 04:35] japaric opened #81 "implement the embedded-hal traits and ..."
make implementations like `Serial` generic around the USART peripheral instance. Basically do the same thing that the [blue-pill] does.

[blue-pill]: https://github.com/japaric/blue-pill

I don't think I'm going to have time to do this myself. So tagging as help-wanted.

cc @brandonedens @Susurrus maybe one of you is interested in tackling this?

[2017-08-03 13:16] tekjar commented on #81
@japaric I'll try this next week. Will play around and try to understand the framework this week

[2017-08-03 15:27] Susurrus commented on #81
@tekjar Please CC me on your work for this. I'd be happy to help review it.

[2017-08-03 20:10] japaric commented on #81
@tekjar :+1:. I believe that @brandonedens was also going to look into this after tackling japaric/svd2rust#107. You might want to let the other know when you start working on this you don't both end up doing the same work.

[2017-08-10 17:40] getreu opened #82 "upgrade to RTFM v0.2"
Hello Jorge,

I like your new API version 2 a lot and I wanted to it try out with my STM32F3discovery board.
It seems that this crate is outdated. Do you plan to upgrade?

[2017-08-24 20:23] pftbest commented on #59
Since we now have much better ways to avoid data races and undefined behavior when accessing registers, this issue is no longer relevant.

[2017-08-24 20:23] #59 closed, assigned to nobody

[2017-08-30 03:27] nullcopy commented on #82
@japaric I am in the same boat. I would love to use this `f3` board support crate with the new RTFM v0.2 framework, however the f3 crate does not expose the `Peripherals` struct required by the new RTFM API.

I would fix and submit a PR myself, but I am still learning Rust (using your blog to convert myself from C development to Rust :smile:), and do not yet have the familiarity to propose a solut

[2017-09-04 04:27] brandonedens commented on #81
I added support for the HAL serial at https://github.com/japaric/f3/pull/83
What other HAL interfaces do I need to implement?
@Susurrus @tekjar
Can you all take a look and confirm that it works on your f3? I'm finding that mine doesn't have proper serial behavior currently nor in the past.

[2017-09-04 04:29] brandonedens commented on #82
@getreu @phreaknik
Can you try building the blink example via:
xargo build --example blinky --target thumbv7em-none-eabihf
?
blinky on master uses RTFM v2.

[2017-09-04 06:04] getreu commented on #82
@japaric it builds! :)
I will try out with the board later.

[2017-09-04 13:16] getreu commented on #82
Thank you for your help. Here some feedback

1. All examples build without error, e.g.

        xargo build --example blinky --target thumbv7em-none-eabihf
        xargo build --examples  --target thumbv7em-none-eabihf
        xargo build --release --examples  --target thumbv7em-none-eabihf

2. The *itm* example did not work for me. Nothing is printed on

        itmdump itm.fifo

3. Somehow I cou

[2017-09-04 18:22] brandonedens commented on #82
To get a list of available functions try:
[code]
Do you see that receive is contained in a namespace. Give the full namespace for your breakpoint.

I believe the serial examples were attempting to use the STM32F3 Discovery board version C's USB VCP interface for communication back to the host. When you connected the discovery board to your computer do you notice that a new serial interface is avai

[2017-09-04 20:10] getreu commented on #82
Thank you! It was a matter of namespace. This works

[code]

Concerning itm: I found 3 serial devices:

[code]

[2017-09-04 20:55] japaric commented on #82
@getreu

Contrary to what the DISCOVERY board user manual says solder bridge SB10 is *not* shorted on most (all?) boards so you'll probably have to manually short (e.g. using a solder wire) pin SWO of the SWD header (CN3) to the pin PB3 to get the ITM output passing through the SWD interface then you can use `itmdump itm.fifo`.

Alternatively you can connect PB3 to the RX pin of a UART -> USB adap

[2017-09-05 17:06] getreu commented on #82
I got it working. My mistake was so simple: I forgot to uncomment the third line in `.gdbinit`. Now it looks like:
[code]
@japaric I found your article [The ITM and the quest for faster logging](http://blog.japaric.io/itm/) very useful. Thank you for your help! I close this issue and open a new one for I2C support.

[2017-09-05 17:06] #82 closed, assigned to nobody

[2017-09-17 20:06] getreu opened #84 "OpenOCD and GDB keep failing randomly during debug sessions"
After running the "concurrency" example, the STLink communication gets unstable.  The only way to connect is keeping the reset  button hold while starting `openocd`. As soon as I release reset the connection breaks down:

    Polling target stm32f3x.cpu failed, trying to reexamine
    Examination failed, GDB will be halted. Polling again in 6300ms
    Info : Previous state query failed, trying to

[2017-09-18 03:13] getreu commented on #81
@brandonedens

I can confirm that it compiles in debug and release mode.
Unfortunately I could not try out some examples because I am still struggling with #84.

[2017-09-19 07:27] getreu commented on #84
Workaround:
1. Keep the *reset* button pressed while connecting with `openocd`.
2. Build your program in *debug* mode, sometimes it also helps to comment out the `rtfm::wfi();` instruction.
3. In `arm-none-eabi-gdb` type `load` and release *reset*.

I also updated the bootloader, but I did not notice any influence.

[2017-09-20 12:43] nordmoen opened #86 "Version 0.5.0 not release to Crates.io"
Hi.

I wanted to test some of the examples from this crate. I followed the `cortex-m-quickstart` setup, making sure to follow the `f3` guide removing the correct stuff to get it to work. However, I could not get my code to compile. I see that many dependencies have been updated and the `f3` crate version on github has been updated, but this latest version is not on crates.io.

Is this deliberate o

[2017-09-20 18:07] japaric commented on #84
I think there's an option for this (reset upon connection) on OpenOCD but the RST (?) line of the microcontroller has to be connected to the hardware debugger.

From the linked blog post:

It *might* be possible to do this in .gdbinit (using monitor commands to make OpenOCD do the register manipulation) though I'm not sure how portable DBGMCU is.

[2017-09-20 18:40] tekjar commented on #81
@brandonedens Thanks a lot for this. Build works for me  after adding below lines to `lib.rs`
[code]

Set `compiler_builtins` version in `Xargo.toml`
[code]
or else I'm facing this error
[code]
Unfortunately `openocd` isn't working on my Mac. Will test on ubuntu in some time.

[2017-09-21 09:16] japaric commented on #86
@nordmoen we are still updating things to work with RTFMv2 cf. #85

Also you can always use the git version:

[code]

It's deliberate. A stable release will be released when it's ready to be released.

[2017-09-22 06:49] getreu commented on #84
It would be very useful to find a suitable way to set the DBGMCU register. My above workaround only works when you compile the binary in debug mode. Seeing that the binaries compiled in debug mode are 10-20 times bigger my method is limited to very simple programs.

[2017-09-23 01:03] getreu commented on #84
I discovered that some people experience the same issue with the blue-pill board:
[blinky program bricked Blue-pill · Issue #20 · japaric/blue-pill](https://github.com/japaric/blue-pill/issues/20). Surprisingly with this board I can not reproduce the issue.

[2017-09-25 07:33] nordmoen commented on #86
@japaric Thanks for the quick reply. I hope the sentence did not come a cross as overly negative. I just wanted to ask seeing some of the dependencies was already updated on crates.io.

[2017-10-13 09:50] nordmoen commented on #81
Is anyone working on SPI support? I have tried to take a stab at it, copying most of the implementation from `blue-pil`, but I'm having some issues when trying to use the implementation together with the built-in `L3GD20` gyroscope.

The trouble I'm having is that the initialization is subtly different between `stm32f30x` and `stm32f103xx` (the later having `gpioa::crl` which I'm unsure how to tra

[2017-10-13 10:49] tekjar commented on #81
@nordmoen I got this working few days back but couldn't structure it well due to lack of time

https://github.com/tekjar/f3/blob/spi/src/spi.rs
https://github.com/tekjar/rust-on-f3/blob/master/demos/l3gd-demo/src/main.rs

[2017-10-13 11:14] nordmoen commented on #81
Thanks @tekjar I tried with your initialization and now I'm able to communicate! I'll take a stab at creating a `l3gd20` interface, for learning if for nothing else.

[2017-10-16 10:40] nordmoen commented on #81
So I have tried to implement support for the `l3gd20` gyroscope here: https://github.com/nordmoen/f3/blob/master/src/l3gd20.rs , but I'm having some problems. When trying to read the sensor I always get back `255`. It doesn't matter if it's before or after the sensor is configured. If anyone has a second to look it over I would be very glad for the help.

Edit:
Got it to work, simply forgot to ena

[2017-10-17 05:37] tekjar commented on #81
@nordmoen Awesome :). Do you have plans for working on accelerometer as well?

[2017-10-17 06:19] nordmoen commented on #81
@tekjar Thanks =]. I'll have a look at it, however, since `blue-pill` doesn't have a I2C interface I don't know to structure the implementation, so I will probably wait until someone more talented than me does that.

[2017-10-17 16:03] tekjar commented on #81
@nordmoen I'll try to work on it after your spi pull request

[2017-10-18 06:24] nordmoen commented on #81
I still have some questions for the SPI portion of the code. There should be 2 SPI interfaces on the F3Discovery, but the the two `GPIO` modules does not share the same `RegisterBlock` type and so can't be implemented in the same way as with `blue-pill`, is that something that should be solved before a pull-request? In addition, the way my code is structured now it is mostly setup for using `SPI1`

[2017-10-19 21:59] japaric commented on #81
Btw, [v0.2](https://github.com/japaric/f3/tree/v0.2.0/src) of this crate had support for both the gyro and the accelerometer. You can look at the code of that release for guidance.

I haven't tried to use the gyroscope interrupt feature or the EXTI* stuff so I can't comment on that.

Also, it's fine to send a PR with gyro API and a single (not generic) SPI API. We can make it generic later.

[2017-10-20 06:29] nordmoen commented on #81
I have ~stolen almost all~ taken great inspiration from earlier versions of this crate.

I just wanted to test for my self that I understood the interrupt mechanics of the RTFMv2 framework before submitting. The only thing left I think is to properly scale the measurements according to the sensitivity.

[2018-01-17 18:49] tekjar opened #87 "Binary size and flashing with st-flash"
Hi @japaric . The binary size of blinky is around 2.6 mb. Given the flash size is 256K, how is gdb load working? Is there some sort of partial loading?

[code]

But debug build  with `st-flash` fails while release build works (flashing works, doesn't blink though)
[code]

[2018-01-17 18:53] japaric commented on #87
That's not the size of the actual binary that will get flashed into the microcontroller. Most of that size are debug symbols. You can get the real size by running `arm-none-eabi-size` on the file.

These flashing utilities usually expect a .bin file; not an ELF, which is the artifact that Cargo produces. You can convert the ELF file into a .bin file using `arm-none-eabi-objcopy` -- I don't recall

[2018-01-17 18:55] tekjar commented on #87
Ohh ok. Thanks :)

[2018-01-17 18:55] #87 closed, assigned to nobody

[2018-01-17 19:14] tekjar commented on #87
[code]

works

[2018-01-21 00:11] japaric commented on #81
This has been done in v0.5.0

[2018-01-21 00:11] #81 closed, assigned to nobody

[2018-01-21 00:12] japaric commented on #86
v0.5.0 is up now

[2018-01-21 00:12] #86 closed, assigned to nobody

[2018-01-21 00:12] japaric commented on #79
v0.5.0 has support for the LSM303DLDC

[2018-01-21 00:12] #79 closed, assigned to nobody

[2018-01-21 00:14] japaric commented on #5
As of v0.5.0 the clock is fully configurable

[2018-01-21 00:14] #5 closed, assigned to nobody

[2018-01-21 00:14] japaric commented on #18
This issue no longers belongs here but in stm32f30x-hal. And we'll add this function when it lands in embedded-hal

[2018-01-21 00:14] #18 closed, assigned to nobody

[2018-01-21 00:18] japaric commented on #44
This crate now has async support via the macros in the [nb](https://docs.rs/nb/0.1.1/nb/) crate. WFI is still a problem. I have an imperfect solution in mind that'll cover in a blog post (but not any time soon).

[2018-01-21 00:18] #44 closed, assigned to nobody

[2018-01-21 00:20] japaric commented on #71
I think there's nothing actionable left in this issue so closing.

[2018-01-21 00:20] #71 closed, assigned to nobody

[2018-02-08 10:36] nordmoen opened #90 "Question: How to handle `EXTI` interrupts"
I have started testing some interrupt handling from the built in `l3gd20` and gotten it half way to work. However, I don't quite understand how to process the interrupt and stop the line from continuing to be high. I have tested with the following simple example:
[code]

With this simple addition to the `l3gd20` crate:
[code]

My question is, how do I mark the interrupt as processed in the `sensor

[2018-08-02 12:06] JoshMcguigan opened #96 "Unable to run madgwick/viz demo"
I am having some trouble running the madgwick example with the viz demo. I am attempting to use ITM over the USB port so I have uncommented the following in my `.gdbinit`:

[code]

I have also added a jumper between PB3 and SWD. To test this setup, I did run the `itm` example, which does work as long as I change the `64000000` above to `8000000`.

When I run `itmdump -F -f /tmp/itm.fifo` I either

[2018-08-02 12:28] JoshMcguigan commented on #96
Based on this stackoverflow thread, it looks like there are some differences between stty on linux and mac.

https://stackoverflow.com/questions/34233066/change-the-baud-rate-stty-on-mac-terminal

I also determined that the invalid argument issue above when setting up the serial port is related to the speed. Running `stty -f /dev/tty.usbserial-AC01X6VL raw 115200 -echo` does not cause the invalid

[2018-08-02 14:59] JoshMcguigan commented on #96
Using the configuration from my first post, I was able to import the iprintln! macro into the madgwick example and successfully print a string over ITM via USB, so that part I can validate is working. It seems like somehow the data is getting corrupted and causing itmdump to crash which I believe causes `viz` to close.

I've also noticed occasional panics from the example code, but I think those m

[2018-08-02 20:56] JoshMcguigan commented on #96
So I tweaked the `viz` example a bit to handle errors without crashing, and now I can see that it does seem to be getting data. I am just thinking perhaps the values are for some reason smaller than they should be?

`(0.9966575, 0.04070263, -0.06756665, 0.021259157)`

That is a typical value grabbed from within the render loop.

Sorry for all the posts, I just want to make sure if someone else has

[2018-08-07 15:47] JoshMcguigan commented on #96
I've resolved this by updating my installed version of itm `cargo install itm --force`, as suggested in rust-embedded/itm#14.

The `attempt to subtract with overflow` error still happens occasionally, but it is less frequent. I could see solving it by either changing the subtraction to saturated subtraction, or converting to f32 before the subtraction rather than after the subtraction (which is ef

[2018-08-07 15:47] #96 closed, assigned to nobody

[2018-08-14 20:10] Boscop opened #97 "Link in docs is dead"
[This](https://docs.rs/f3/0.6.1/f3/) page links to:
https://docs.rs/cortex-m-quickstart/~0.3
which redirects to:
https://docs.rs/cortex-m-quickstart/0.3.3/cortex_m_quickstart/
which is a dead link:
The requested resource does not exist

[2018-08-15 09:02] caemor commented on #97
This is a known problem and is waiting for updates of docs.rs, see: https://github.com/rust-embedded/cortex-m-quickstart/issues/36 or your own issue: https://github.com/onur/docs.rs/issues/226

Last documentation that was build is: https://docs.rs/cortex-m-quickstart/0.3.1/cortex_m_quickstart/

[2018-09-14 22:20] nicodemus26 opened #98 "Example failing to link with 1.30.0-nightly (2018-09-13)"
This is also the case with `cortex-m-rt` examples.

I get a linking error:
[code]

Running with arm-none-eabi-gdb (and gdb) from gcc-arm-none-eabi-7-2018-q2.

I can comment the linker flags from .cargo/config and the build succeeds, but I get the following error from gdb when running:
[code]

where .gdbinit:18 is the `step` after `load`.

Start address 0x0, load size 0 suggest to me that the load

[2018-10-08 09:07] gbip commented on #98
Since a few weeks you have to link your embedded projects using lld.
To adapt the .cargo/config you should take a look at [this](https://github.com/lupyuen/stm32-blue-pill-rust/pull/2/commits/32f8ecbf88da6ad1997216392a480fcea1907413) fix !
[The complete file](https://github.com/lupyuen/stm32-blue-pill-rust/blob/32f8ecbf88da6ad1997216392a480fcea1907413/.cargo/config)

[2018-10-18 03:38] freiguy1 commented on #90
Soooo you may not care anymore, but heck, I'll put the answer down because I spent all night doing this and finally conquered it. First of all - thanks so much for this question. I got pretty far using your code as an example.

The one thing you forgot to do is set the pending register bit to 1 for your external interrupt. The documentation for my stm32f103 says:

(my emphasis added)

If you don't

[2018-11-26 11:13] Kixunil opened #102 "impl Iterator for Leds"
It'd be nice to implement `Iterator` for `Leds` as `Leds` looks like an array.

[2018-11-26 15:35] japaric commented on #98
Fixed in #101 (master, not yet released).

[2018-11-26 15:35] #98 closed, assigned to nobody

[2019-02-21 14:02] Frederik-Baetens opened #106 "Building fails with: error[E0557]: feature has been removed"
relevant output of trying to run cargo build --example hello:

error[E0557]: feature has been removed
  --> /home/frederik/.cargo/registry/src/github.com-1ecc6299db9ec823/panic-semihosting-0.3.0/src/lib.rs:59:12
   |
59 | #![feature(panic_implementation)]
   |            ^^^^^^^^^^^^^^^^^^^^
   |
note: subsumed by `#[panic_handler]`
  --> /home/frederik/.cargo/registry/src/github.com-1ecc6299db9ec

[2019-04-28 12:44] jeehoonkang commented on #97
It seems this issue was resolved, ready to be closed.

[2019-08-11 19:22] bobgates commented on #106
Any news? This caught me as well.

[2019-08-12 20:53] rvlander commented on #106
I could move two step further. I changed the panic-semihostic dependency version to `0.5.2` in `cargo.toml`

But then there is a failure on:
[code]

You can disable it by commenting `#![deny(warnings)]` directive in `lib.rs`.

But at this step there is a error with the linker:
[code]

I tested with both stable and nighlty.

[2019-08-13 20:06] rvlander commented on #106
Got it running by modifying `.cargo/config` to:
[code]

I also add the following line to`~/.gdbinit`:
[code]

This configuration might be unsafe.

Also, do not forget to install `arm-none-eabi-gdb`

[2019-08-13 20:09] rvlander commented on #106
Some other examples still won't compile. I guess this crate needs to be refactored to use the updated version of the hall. Any plans?

[2019-08-30 15:42] leshow opened #108 "Use board as USB device"
In the user manual for the discovery board, it claims it can be used as a USB HID device.

Does `f3` support this? I can't find anything in the `cortex-m`, `stm32f3x` or `hal` crates related to using the MCU's HID capabilities.

[2020-01-01 16:06] rubberduck203 opened #110 "Examples fail to build"
[code]

[2021-01-26 11:32] bss03arg opened #112 "run example: error[E0432]: unresolved import `cortex_m_0_6::peripheral::itm`"
Hi,

I am new for rust and when I run the example, I got this error:

cargo run --example hello
    Updating `git://crates.rustcc.com/crates.io-index` index
  Downloaded cobs v0.1.4 (registry `git://crates.rustcc.com/crates.io-index`)
  Downloaded cortex-m-semihosting v0.3.7 (registry `git://crates.rustcc.com/crates.io-index`)
  Downloaded madgwick v0.1.1 (registry `git://crates.rustcc.com/crates.

[2021-01-26 20:23] caemor commented on #112
You might want to try the new newer board support package here: https://github.com/rubberduck203/stm32f3-discovery which would also fix your issue.

EDIT: I just realised that the other issue is also from you :-D
So the stuff below is already solved/handled there

--> /Users/ccui/.cargo/registry/src/crates.rustcc.com-a21e0f92747beca3/cortex-m-0.5.10/src/peripheral/mod.rs:91:46
|
91 | pub use corte

[2021-01-27 02:21] bss03arg commented on #112
Thank you very much! I will try the new version of  board support package.

[2021-01-27 02:21] #112 closed, assigned to nobody